<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Ara</div>
            <div class="col-md-4">
                <input type="text"
                    [(ngModel)] = "listFilter"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>{{listFilter}} için arama sonuçları</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" 
                *ngIf='restaurants && restaurants.length'>
                <thead>
                    <tr>
                        <th>
                            <button (click)='toogleImage()' 
                                class="btn btn-primary">
                                {{showImages ? 'Resmi gizle' : 'Resmi göster'}}
                            </button>
                        </th>
                        <th>Adı</th>
                        <th>Konumu</th>
                        <th>Açık olduğu saatler</th>
                        <th>Ortalama Ücreti</th>
                        <th>Ortalama Puanı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let restaurant of filteredRestaurants'>
                        <td>
                            <img *ngIf="showImages" 
                                src="{{restaurant.imageUrl}}"
                                title="{{restaurant.name}}"
                                style.width.px="{{imageWidth}}"
                                style.margin.px="{{imageMargin}}">
                        </td>
                        <td>{{restaurant.name | uppercase}}</td>
                        <td>{{restaurant.location}}</td>
                        <td>{{restaurant.openHours | convertToSpaces: '-'}}</td>
                        <td>{{restaurant.price | currency:'TRY'}}</td>
                        <td>
                            <pm-star [rating]='restaurant.starRating'
                                (ratingClicked)='onRatingClicked($event)'></pm-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>